name: BrowserStack LCA

on:
  workflow_dispatch:

jobs:
  run-lca:
    runs-on: ubuntu-latest
    steps:
      - name: Run BrowserStack LCA
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        run: 
          npx browserstack lca run
            --project "SwagLabs"
            --test-run-name "Trigger LCA Run" 
            --test-cases "TC-138,TC-146"

